src/SampleData/Bounds/Bounds.xsd

<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making 
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Bounds" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Bounds" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Bounds" type="tns:Bounds" />
  <xs:complexType name="Bounds">
    <xs:attribute blend:FormatParameters="2" name="Width" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Height" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="CenterX" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="CenterY" type="xs:double" />
  </xs:complexType>
</xs:schema>