src/SampleData/BoundsData/BoundsData.xsd

<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making 
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.BoundsData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.BoundsData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BoundsData" type="tns:BoundsData" />
  <xs:complexType name="BoundsData">
    <xs:attribute blend:FormatParameters="2" name="Left" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Top" type="xs:double" />
  </xs:complexType>
</xs:schema>